 
/*Define variables*/
 $bgcolor: rgb(91, 47, 91);
 $textcolor: rgb(201, 40, 201);
 $fontsize: 18px;
 
 /* Use the variables */
 body {
   background-color: $bgcolor;
   color: $textcolor;
   font-size: $fontsize;
 }

 .container{
  height: 70vh;
  width: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: inset;
  border-width: 5px;
  border-color: rgb(178, 55, 157);
  margin: 50vh;
 }

 h1{
  color: white;
 } 

 p{
  padding: 5vh;
 }
 